---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
      {% if page.tags.size > 0 %}
      &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
      {% endif %}
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
  var gitment = new Gitment({
      id: location.pathname
      owner: 'czb1n',
      repo: 'czb1n.github.io',
      oauth: {
        client_id: 'cb95689edb3d73c03b2f',
        client_secret: '3a868f91365d330b0c8e0b2ea7f03cb63ca1d665',
      },
  });
  gitment.render('gitmentContainer');
  </script>
</article>
{% if page.comments != false %}{% include disqus.html %}{% endif %}
